* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    font-family: "Poppins", sans-serif;
    background: white;
}


header {
    border: 2px solid skyblue;
    width: 100%;
    height: 110px;
}

/* Primer div del header */

.container-nav {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}

.imagen-nav {
    border: 1px solid red;
    margin-left: 25px;
    font-size: 13px;
}

.imagen-nav img {
    width: 20px;
    height: 10px;
    margin-right: 10px;
}

nav {
    border: 2px solid orange;
    margin-right: 20px;
}

nav ul{
    list-style: none;
}

nav a {
    text-decoration: none;
}

nav li {
    display: inline;
    text-decoration: none;
    margin-right: 15px;
}



/* Segundo div del header */

.container-buscador {
    border: 2px solid red;
    display: flex;
    align-items: center;
    height: 50px;
}

.container-buscador .imagen-npm {
    width: 50px;
    height: 20px;
    margin-left: 30px;
    margin-right: 10px;
}

.bar-search {
    width: 80vw;
    height: 4vh;
}

input::placeholder{
    padding-left: 30px;
}
.container-buscador button {
    height: 4vh;
    width: 80px;
    background: rgb(246, 48, 48);
    color: white;
    border: none;
}

.links {
    border: 2px solid red;
    margin-left: 30px;
    width: 130px;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    width: 100px;
    height: 2vh;
    text-align: center;
    text-decoration: none;
    color: grey;
}

.links .join {
    border: 1px solid gray;
    height: 3vh;
}

form .img-search {
    position: absolute;
    left: 100px;
    top: 70px;
    width: 20px;
    height: 20px;

}



/* First section of the body */

.container1 {
    border: 2px solid blue;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container1 h1 {
    height: 100px;
    border: 2px solid brown;
    font-size: 80px;
    text-align: center;
}

.article1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid yellow;
    width: 25%;
    height: 12vh;
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
}

.section-links {
    border: 2px solid rgb(246, 48, 48);
    height: 12vh;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-links a {
    border: 2px solid black;
    height: 30px;
    width: 200px;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
}

.section-links .link1 {
    background: rgb(246, 48, 48);
    color: white;
    border: none;
    box-shadow: 5px 5px rgb(255, 213, 213);
    margin-right: 70px;
}

.section-links .link2 {
    color: black;
    border: none;
}



/* Second section*/

.container2 {
    border: 2px solid blue;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container2 img {
    height: 100px;
    width: 100px;
}